
body 
  padding 0
  margin 0

  font-family "Roboto Mono", monospace

#mainContainer 
  width 100vw
  height 100vh
  
  display flex
  flex-direction column
  
  background-color #222

#headContainer
  width 100vw
  min-height 50px
  height 50px
  
  background-color #111
  color #fff
  
  display flex
  flex-direction row

  z-index 999
  box-shadow 0px 0px 10px #000

.appTitle 
  height 100%
  width 150px
  
  display flex
  
  justify-content center
  align-items center
  
  font-size 25px
  color #aaa

.windowTitle 
  height 100%
  width 200px
  
  display flex
  justify-content center
  align-items center

.controls 
  width 100%
  height 100%
  
  display flex
  justify-content right
  align-items center

.control 
  padding 0 20px
  display flex
  justify-content center
  align-items center
  background #212121
  height 100%

  transition 0.2s all linear

.control:hover
  filter brightness(150%)
  cursor pointer

.control:active
  filter brightness(180%)

.control-new
  margin-left auto
  
#bodyContainer 
  height 100%
  width 100%
  
  display flex
  flex-direction row

#sideContainer 
  background-color #aaa
  height 100%
  width 350pt
  left 0
  
  display flex
  flex-direction column

#contentContainer 
  background-color #fff
  height 100%
  width 100%

.caption
  display inline
  margin auto 10px

.quizSection
  width 100%
  height 48px
  
  display flex
  flex-direction row
  align-items center

  cursor pointer
  background-color #999

.quizTitle 
  margin-left 0px;

.quizIndicator 
  transition margin-left 0.2s linear
  margin-left -20px

.currentSection 
  background #fff

.questionSection .quizIndicator 
  margin-left -40px

.questionName 
  margin-left 20px

.quizSection:hover .quizIndicator 
  visibility visible
  margin-left 40px

.indicatorContainer 
  width 52px

.titleSection:hover .quizIndicator 
  margin-left 20px

.editElement 
  display flex
  flex-direction column
  margin 30px

label 
  font-size 14px
  color #333

input 
  font-family "Roboto Mono", monospace
  font-size 16px
  color #111

input[type="text"] 
  background #eee
  border none
  padding 10px
  margin 5px 0px
  border-bottom 2px #eee solid

  box-shadow 0px 0px 5px #aaa
  transition 0.2s all ease-in-out
  outline none

input[type="checkbox"] 
  vertical-align bottom
  appearance none
  -webkit-appearance none
  vertical-align middle

  background-color #eee

  border-radius 10px
  border-color #eee

  width 20px
  height 20px

  transition all 0.5s ease-in-out

[type=checkbox]:checked 
  background-color #4CAF50
  border #eee solid 5px

.checkboxContainer 
  margin-top 5px

input[type="text"]:focus 
  border-bottom 2px solid #295179

input[type="checkbox"]:focus 
  box-shadow 0px 0px 10px #295179
  outline none
