
head
  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="css/roboto-mono.css")
  link(rel="stylesheet" href="css/modal.css")

body
  input(type="file" style="display: none;" id="inputfile")
  #mainContainer
    #headContainer
      .appTitle
        | µquiz
      .windowTitle
        | Quiz Designer
      .controls
        .control.control-new(tabindex="0" role="button" aria-pressed="false" onkeypress="enterClickHandler(this)")
          img(src="/icon/file-document-outline.svg" alt="New")
          .caption New

        .control.control-save(tabindex="0" role="button" aria-pressed="false" onkeypress="enterClickHandler(this)")
          img(src="/icon/content-save.svg" alt="Save")
          .caption Save

        .control.control-open(tabindex="0" role="button" aria-pressed="false" onkeypress="enterClickHandler(this)")
          img(src="/icon/folder-outline.svg" alt="Open")
          .caption Open

        .control.control-upload(tabindex="0" role="button" aria-pressed="false" onkeypress="enterClickHandler(this)")
          img(src="/icon/upload.svg" alt="Upload")
          .caption Upload

    #bodyContainer
      #questionsContainer
        #sideContainer
        #addQuestion(tabindex="0")
          | Add Question
          img(src="/icon/plus.svg" alt="Plus")
          
      #contentContainer

  script(src="js/modal.js")
  script(src="js/create.js")
  script(src="js/main.js")