
head
  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="css/roboto-mono.css")
  link(rel="stylesheet" href="css/modal.css")

body
  input(type="file" style="display: none;" id="inputfile")
  #mainContainer
    #headContainer
      .appTitle
        | µquiz
      .windowTitle
        | Quiz Designer
      .controls
        .control.control-new
          img(src="/icon/file-document-outline.svg" alt="New")
          .caption New

        .control.control-save
          img(src="/icon/content-save.svg" alt="Save")
          .caption Save

        .control.control-open
          img(src="/icon/folder-outline.svg" alt="Open")
          .caption Open

        .control.control-upload
          img(src="/icon/upload.svg" alt="Upload")
          .caption Upload

    #bodyContainer
      #sideContainer
      #contentContainer

  script(src="js/create.js")
  script(src="js/modal.js")
  script(src="js/main.js")
